extends ../base
include ../mixins/notice.pug

block content
    li
        a(href="/notice/search") search
    li
        a(href="/notice/upload") Upload Notice
    if notice
        each item in notice
            +notice(item)