extends ../base
include ../mixins/notice.pug

block content
    li
        a(href="/notice/search") search
    li
        a(href="/notice/upload") Upload Notice
    section.notice_container
    section.page__cotainer
    script(src="/static/js/js/page.js") 